@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Yeseva+One&display=swap');


/* shered style starts here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1440px;
}
#para{
    color: rgb(112, 112, 112);
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 400;
}
#heading{
    color: rgb(18, 18, 18);
    font-family: Inter;
    font-size: 3rem;
    font-weight: 700;
}
#btn-primary{
    border-radius: 5px;
    background-color: rgb(255, 89, 89);
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: .85rem;
    font-weight: 600;
    border: none;
    padding: .75rem 1.25rem;

}


/* banner section starts here */
.banner{
    background-image: linear-gradient(0.00deg, rgb(18, 18, 18),rgba(18, 18, 18, 0) 100%) , url('../images/donation0.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 8rem 12rem;
}
.banner h1{
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.banner p{
    color: white;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 65%;
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 400;
}
/* banner section ends here */

/* donate section starts here */
.donate-container{
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
.donate-container p{
    width: 50%;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
}
.donate-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.donate-item{
    height: 7.5rem;
    width: 8.25rem;
}
.donate-item h2{
    color: rgb(112, 112, 112);
    font-family: Inter;
    font-size: 1.85rem;
    font-weight: 700;
    margin-top: 2.5rem;
}
.extra{
    border: 2px solid rgb(255, 89, 89);
    border-radius: 5px;
    background-color: rgb(255, 238, 238);
}
.extra h2{
    color: rgb(255, 89, 89);
}
.donate-container h6{
    width: 56%;
    color: rgb(179, 179, 179);
    font-family: Poppins;
    font-size: 1.15rem;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid rgb(218, 218, 218);
}
/* donate section ends here */